/*
margin/padding/width/font-size> em
*/

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    color: #444;
    font-size: 62.5%;
}
*,*::after,*::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    max-width: 1128px;
    margin: 0 auto;
    
}
img, video, figure, embed{
    max-width: 16em;
}
header{
    width: 100%;
    height: 48px;
    margin-bottom: 2.5em;
    margin-top: 2.0em;
}
.logo{
    width: 15em;
    float: left;
}
nav{
    width: 52.5em;
    float: right;
}
nav ul{
    float: right;
}
nav li{
    font-size: 1.30em;
    margin-left: 1.0em;
    margin-top: 0.5em;
    display: inline-block;
}
nav li a{
    color: #999;
}
.banner{
    background: url("../img/banner.jpg");
    height: 450px;
    margin-bottom: 3em;
    position: relative;
}
.caixa{
    position: absolute;
    top: 48px;
    background: rgba(0, 0, 0, 0.6);
    width: 49em;
    padding: 1.5em 0.1em 1.5em 2.5em;
}
h1{
    font-size: 4em;
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}
.caixa p{
    font-size: 1.2em;
    color: #fff;
}
article{
    width: 16.5em;
    float: left;
    margin-right: 1.5em;
}
article:last-child{
    margin-right: 0;
}
h2{
    font-size: 1.5em;
}
p{
    font-size: 1em;
    text-align: justify;
}
footer{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.footer{
    font-size: 0.6em;
}